<!DOCTYPE html>
<html>
<body style="background-color:powderblue;"></body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
th, td {
  border: 3px solid black;
  border-radius: 0px;
}

.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.container {
  text-align: center;
}

.block img {
 width: 100px;
 height: 100px;
}
  
</style>

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/NUS_coat_of_arms.svg/1200px-NUS_coat_of_arms.svg.png" alt="NUS" style="float:left" width="4%" height="4%"> 
<h1 style="font-family:verdana; font-size:200%; text-align:left;">Got Space A Not?</h1>



<p style="font-family:verdana; font-size:100%; text-align:center;"> 

<hr>

{% for lib in records %}
<div class="container">
  <div class="block">
    <h3> {{lib.0}} </h3>
    <img src="https://cdn-icons-png.flaticon.com/512/225/225932.png">
    <p> {{ lib.1 }} </p>
    <p> {{ lib.2 }} / {{ lib.3 }}</p>
    {% endfor %}
</div>
  
 
  
<a href="https://gotspaceanottest1.herokuapp.com/login/">Login</a> </p>
<a href="https://gotspaceanottest1.herokuapp.com/add/">Register</a> </p>
<a href="https://gotspaceanottest1.herokuapp.com/library_system/">Library System</a> </p>
<a href="https://gotspaceanottest1.herokuapp.com/library_system_records/">Library System Records</a> </p>
</body>
</html>
